# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
    *         @SubaitaM @nchouman @KarlFranzman @ercelangeles @nymur-rahman-nyar @ap001AP
